/* Mobile */

.home-container {
    width: 100%;
    height: 100vh;
    background-image: url('../Images/mobile-background.jpeg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header {
    font-size: 35px;
    color: rgb(50, 50, 50);
    padding-top: 160px;
}


/* iPad */
@media only screen and (max-width: 1024px) and (min-width: 768px) {}

.home-container {
    font-size: 50px;
}

.main-header {
    color: rgb(50, 50, 50);
    padding-top: 160px;
}

/* Desktop */
@media only screen and (max-width: 1920px) and (min-width: 1080px) {
    .home-container {
        width: 100%;
        height: 100vh;
        background-image: url('../Images/desktop-background.jpeg');
    }

    .main-header {
        color: rgb(50, 50, 50);
        padding-bottom: 550px;
    }

}