body {
    /* background: #eee; */
    background: whitesmoke;
    color: #000;
    margin: 0;
    padding: 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;



}

.about-title {
    color: #344E41;
    align-self: center;
    text-align: center;

}

.about-description {
    color: rgb(33, 29, 29);
    font-size: 18px;
    text-align: center;
    align-self: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 80%;
}

@media only screen and (min-width: 768px) {
    .about-description {
        width: 70%;
    }
}